*
  font-family: 'Open Sans'
  font-size: 12px
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: subpixel-antialiased

html,
body
  margin: 0px
  height: 100%
  width: 100%
  -webkit-user-select: none
  overflow: hidden

.album-list
  position: absolute
  top: $header-height + $header-padding * 2
  right: 0
  bottom: 0
  left: $sidebar-width
