* {
  font-family: 'Open Sans';
  font-size: 12px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  overflow: hidden;
}
.album-list {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 300px;
}
media-controls {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  left: 0;
  background: #ccc;
  padding: 5px;
  -webkit-app-region: drag;
}
media-controls .cover {
  height: 50px;
  display: block;
  float: left;
  margin-right: 5px;
}
media-controls .cover .track-info {
  margin-left: 60px;
}
media-controls button {
  -webkit-app-region: no-drag;
}
album {
  display: block;
}
album > .image-list {
  width: 200px;
  float: left;
  padding: 1px;
}
album > .image-list > img {
  width: 100%;
}
album > .info {
  margin-left: 210px;
}
album > .info > .title {
  color: #808080;
  font-weight: bold;
}
album > .info > .disc .subtitle {
  font-style: italic;
}
album > .info > .disc .track-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
album > .info > .disc .track {
  cursor: pointer;
  border-radius: 3px;
  padding: 2px;
  padding-left: 4px;
}
album > .info > .disc .track:hover {
  color: #000;
  font-style: normal;
  background: #eee;
}
album > .info > .disc .track .number {
  color: #808080;
}
artist-list {
  position: absolute;
  top: 60px;
  width: 300px;
  bottom: 0;
  left: 0;
  overflow: auto;
}
artist-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #333;
  font-weight: bold;
  border-right: #1b9bff solid 3px;
}
artist-list ul li a {
  display: block;
  padding: 8px 0 8px 16px;
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}
artist-list ul li a:hover {
  color: #000;
  background-color: #f1f1f1;
}
artist-list ul li a.selected {
  background: #1b9bff;
}
artist-track-list {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  left: 300px;
  top: 60px;
  overflow: auto;
}
artist-track-list album {
  clear: both;
  margin: 4px;
}
artist-track-list .album-title {
  font-weight: bold;
  font-size: 1.1em;
}
artist-track-list disc {
  display: block;
  margin: 8px 0;
}
artist-track-list disc .cover {
  width: 200px;
  float: left;
}
artist-track-list .disc-title,
artist-track-list .track-list {
  margin: 0 0 0 210px;
  padding-left: 4px;
  border-left: 1px solid #ccc;
}
artist-track-list .disc-title {
  font-style: italic;
}
artist-track-list .track-list {
  list-style-type: none;
}
artist-track-list .track-list a {
  display: block;
  background: #fff;
  color: #000;
  text-decoration: none;
  padding: 3px 4px;
  border-radius: 2px;
}
artist-track-list .track-list a:hover {
  background: #ccc;
}
artist-track-list .track-list .number {
  width: 30px;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
  color: #808080;
}
preferences {
  display: block;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
}
