html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  font-family: 'Open Sans';
  font-size: 12px;
}
.album-list {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 300px;
}
.library {
  display: flex;
  flex-flow: row;
}
body {
  background: #f1f1f1;
  color: #000;
}
#app {
  height: 100%;
  width: 100%;
  display: block;
}
.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}
.app > :first-child {
  flex: 0 1 auto;
}
.app > :last-child {
  flex: 1;
}
.media-controls {
  display: block;
  -webkit-app-region: drag;
  border-bottom: 1px solid #ccc;
  height: 7em;
}
.media-controls .prev,
.media-controls .play,
.media-controls .next,
.media-controls .wmin,
.media-controls .wmax,
.media-controls .wcls,
.media-controls .pref,
.media-controls .seeker {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
.media-controls .prev,
.media-controls .play,
.media-controls .next {
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  border: 1px solid #c4c4c4;
  background: #e0e0e0;
  color: rgba(30,30,30,0.75);
}
.media-controls .prev:hover,
.media-controls .play:hover,
.media-controls .next:hover {
  box-shadow: #aaa 0px 0px 6px 0px;
  transition: box-shadow 1s;
}
.media-controls .prev {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  line-height: 4em;
  width: 4em;
}
.media-controls .play {
  position: absolute;
  top: 1em;
  left: 6em;
  line-height: 5em;
  width: 5em;
}
.media-controls .next {
  position: absolute;
  top: 1.5em;
  left: 11.5em;
  line-height: 4em;
  width: 4em;
}
.media-controls .cover {
  position: absolute;
  top: 0.1em;
  left: 17em;
  height: 6.8em;
  background: #ccc;
}
.media-controls .title {
  position: absolute;
  top: 1em;
  left: 24.5em;
  font-weight: bold;
}
.media-controls .album {
  position: absolute;
  top: 3em;
  left: 24.5em;
}
.media-controls .seeker {
  position: absolute;
  top: 5.5em;
  left: 24.5em;
  right: 0.5em;
  background: #ccc;
  height: 0.5em;
}
.media-controls .seeker .poser {
  background: #808080;
}
.media-controls .pref,
.media-controls .wmin,
.media-controls .wmax,
.media-controls .wcls {
  position: absolute;
  top: 0;
  line-height: 2em;
  width: 2.5em;
  text-align: center;
  vertical-align: middle;
}
.media-controls .pref {
  right: 8em;
  color: #fff;
  background: #228b22;
}
.media-controls .wmin {
  right: 5em;
  color: #fff;
  background: #6495ed;
}
.media-controls .wmin:hover {
  background: #00f;
}
.media-controls .wmax {
  right: 2.5em;
  color: #fff;
  background: #6495ed;
}
.media-controls .wmax:hover {
  background: #00f;
}
.media-controls .wcls {
  right: 0;
  background: #f00;
}
album {
  display: block;
}
album > .image-list {
  width: 200px;
  float: left;
  padding: 1px;
}
album > .image-list > img {
  width: 100%;
}
album > .info {
  margin-left: 210px;
}
album > .info > .title {
  color: #808080;
  font-weight: bold;
}
album > .info > .disc .subtitle {
  font-style: italic;
}
album > .info > .disc .track-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
album > .info > .disc .track {
  cursor: pointer;
  border-radius: 3px;
  padding: 2px;
  padding-left: 4px;
}
album > .info > .disc .track:hover {
  color: #000;
  font-style: normal;
  background: #eee;
}
album > .info > .disc .track .number {
  color: #808080;
}
.artist-list {
  flex: 0 1 auto;
  overflow: auto;
  width: 20em;
}
.artist-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.artist-list ul li a {
  display: block;
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  transition: 0.2s;
}
.artist-list ul li a:hover {
  background-color: #f1f1f1;
}
.artist-list ul li.selected a {
  background: #1b9bff;
}
.artist-list ul li.unknown a {
  font-style: italic;
}
.artist-track-list {
  flex: 1;
  overflow-y: auto;
}
.artist-track-list .album {
  clear: both;
  margin: 4px;
}
.artist-track-list .album-title {
  font-weight: bold;
  font-size: 1.1em;
}
.artist-track-list .disc {
  display: block;
  margin: 8px 0;
}
.artist-track-list .disc .cover {
  width: 200px;
  float: left;
}
.artist-track-list .disc-title,
.artist-track-list .track-list {
  margin: 0 0 0 210px;
  padding-left: 4px;
  border-left: 1px solid #ccc;
}
.artist-track-list .disc-title {
  font-style: italic;
}
.artist-track-list .track-list {
  list-style-type: none;
}
.artist-track-list .track-list li:not(.playing) .play-icon {
  visibility: hidden;
}
.artist-track-list .track-list li.playing a {
  background: #ff0;
}
.artist-track-list .track-list a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 3px 4px;
  border-radius: 2px;
}
.artist-track-list .track-list a:hover {
  background: #ccc;
}
.artist-track-list .track-list .number {
  width: 30px;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
  color: #808080;
}
preferences {
  display: block;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
}
