.artist-track-list
  flex: 1
  overflow-y: auto

  .album
    clear: both
    margin: 4px

  .album-title
      font-weight: bold
      font-size: 1.1em

  .disc
    display: block
    margin: 8px 0
    .cover
      width: 200px
      float: left

  .disc-title
  .track-list
    margin: 0 0 0 210px
    padding-left: 4px
    border-left: 1px solid #ccc

  .disc-title
    font-style: italic

  .track-list
    list-style-type: none

    li
      display: flex
      flex-flow: row
      align-items: center
      color: black
      text-decoration: none
      padding: 3px 4px
      border-radius: 2px
      cursor: pointer

      &:hover
        background: #ccc

      &:not(.playing)
        .play-icon
          visibility: hidden

      &.playing
        background: grey
        > *
          color: white

    .number
      width: 30px
      display: inline-block
      text-align: right
      margin-right: 5px
      color: grey

    .title
      flex: 1

    .duration
      color: grey
