.artist-list
  flex: 0 1 auto
  overflow: auto
  background: #333
  border-right: #1b9bff solid 3px

  ul
    list-style-type: none
    margin: 0
    padding: 0
    font-weight: bold

    li
      a
        display: block
        padding: 8px 8px 8px 16px
        text-decoration: none
        color: white
        transition: 0.2s
      a:hover
        color: black
        background-color: #f1f1f1

    li.selected a
      background: #1b9bff

    li.unknown a
      font-style: italic
