.artist-list
  flex: 0 1 auto
  overflow: auto
  width: 20em

  ul
    list-style-type: none
    margin: 0
    padding: 0

    li
      a
        display: block
        padding: 8px 8px 8px 16px
        text-decoration: none
        transition: 0.2s
      a:hover
        background-color: #f1f1f1

    li.selected a
      background: #1b9bff

    li.unknown a
      font-style: italic
