media-controls
  position: absolute
  top: 0
  right: 0
  height: $header-height
  left: 0
  background: #ccc
  padding: 5px
  -webkit-app-region: drag

  .cover
    height: 50px
    display: block
    float: left
    margin-right: 5px
    .track-info
      margin-left: 60px

  button
    -webkit-app-region: no-drag
