.media-controls
  display: grid
  grid-template-areas:   "prev play next cover title wmin wmax wcls"\
                         "prev play next cover album pref pref pref"\
                         "prev play next cover seek  pref pref pref"
  grid-template-columns: 40px  50px 40px 50px  auto  30px 30px 30px
  -webkit-app-region: drag
  background: #ccc

  .prev
  .play
  .next
  .wmin
  .wmax
  .wcls
  .pref
  .seek
    -webkit-app-region: no-drag
    cursor: pointer

  .prev
  .play
  .next
    text-align: center
    vertical-align: middle
    border-radius: 4px
    background-color: red

  .prev
    grid-area: prev
    margin: 5px 0px

  .play
    grid-area: play
    margin: 0px 4px

  .next
    grid-area: next
    margin: 5px 0px

  .cover
    grid-area: cover
    height: 50px

  .title
    grid-area: title

  .album
    grid-area: album

  .seek
    grid-area: seek

  .wmin
    grid-area: wmin
    height: 25px
    color: white
    background: cornflowerblue
    &:hover
      background: blue

  .wmax
    grid-area: wmax
    height: 25px
    color: white
    background: cornflowerblue
    &:hover
      background: blue

  .wcls
    grid-area: wcls
    height: 25px
    color: white
    background: red

  .pref
    grid-area: pref
    height: 25px
    color: white
    font-weight: bold
    text-align: center
    vertical-align: middle
    line-height: 25px
    background: forestgreen
