.media-controls
  display: block
  -webkit-app-region: drag
  border-bottom: 1px solid #ccc
  height: 7em

  .prev
  .play
  .next
  .wmin
  .wmax
  .wcls
  .pref
  .seeker
    -webkit-app-region: no-drag
    cursor: pointer

  .prev
  .play
  .next
    text-align: center
    vertical-align: middle
    border-radius: 2px
    border: 1px solid #c4c4c4
    background: #e0e0e0
    color: rgba(30, 30, 30, 0.75)

    &:hover
      box-shadow: #aaa 0px 0px 6px 0px
      transition: box-shadow 1s

  .prev
    position: absolute
    top: 1.5em
    left: 1.5em
    line-height: 4em
    width: 4em

  .play
    position: absolute
    top: 1em
    left: 6em
    line-height: 5em
    width: 5em

  .next
    position: absolute
    top: 1.5em
    left: 11.5em
    line-height: 4em
    width: 4em

  .cover
    position: absolute
    top: 0.1em
    left: 17em
    height: 6.8em
    background: #ccc

  .title
    position: absolute
    top: 1em
    left: 24.5em
    font-weight: bold

  .album
    position: absolute
    top: 3em
    left: 24.5em

  .seeker
    position: absolute
    top: 5.5em
    left: 24.5em
    right: 0.5em
    background: #ccc
    height: 0.5em

    .poser
      background: gray

  .pref
  .wmin
  .wmax
  .wcls
    position: absolute
    top: 0
    line-height: 2em
    width: 2.5em
    text-align: center
    vertical-align: middle

  .pref
    right: 8em
    color: white
    background: forestgreen

  .wmin
    right: 5em
    color: white
    background: cornflowerblue
    &:hover
      background: blue

  .wmax
    right: 2.5em
    color: white
    background: cornflowerblue
    &:hover
      background: blue

  .wcls
    right: 0
    background: gray
    color: white
