$header-height = 50px
$header-padding = 5px
$sidebar-width = 300px

@require 'base'
@require 'app'
@require 'header'
@require 'album'
@require 'artist-list'
@require 'album-list'
@require 'preferences'
