html
body
  margin: 0
  padding: 0
  height: 100%
  width: 100%
  -webkit-user-select: none

  font-family: 'Open Sans'
  font-size: 12px

#app-library
  display: flex
  flex-flow: row

  > .album-list
    flex: 1
