.preferences
  padding: 1em

  .field
    margin: 0.3em 0

  .action-bar
    margin: 1em 0

  button
    background: #ccc
    border: 1px solid #999
    border-radius: 2px
    margin-right: 1em
    padding: 0.5em 1em
    cursor: pointer
